body {
  margin: 0px;
  padding: 0px;
  font-family: "oswald";
}

.navbar {
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: green;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.container {
  position: relative;
  top: 20vh;
  width: 100%;
  min-height: 80vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.todo-container {
  width: 80%;
}

.input-container {
  height: 10vh;
  display: flex;
  font-size: 20px;
}

input {
  flex: 4;
  font-family: inherit;
  font-size: inherit;
  padding-left: 20px;
}

.add-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: green;
  color: white;
}

.todos-container {
  display: flex;
  justify-content: center;
}

.todos-content {
  margin-top: 40px;
  width: 100%;
}

.todo-item {
  margin-bottom: 10px;
  height: 10vh;
  display: flex;
  background-color: #e9ebed;
  padding-left: 20px;
  border-radius: 4px;
}

.todo-text {
  flex: 4;
  display: flex;
  align-items: center;
}

.todo-check {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-delete {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #db3030;
}